body {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/09/33/99581586f6e5606.jpg")
}
.text-center{
	text-align : center;
	color: white;
}

h1 {
	font: Calibri;
	color: Green;
	font-size: 200%;
	font: calibri;
}

p{
	font: Calibri;
	font-size: 90%;
}
#formule{
	font: Calibri;
	color:blue;
}

hr{
	color:Green;
}
table {
	width: 60%;
	border: 1px solid white;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

th, td {
	color: white;
    border: 1px solid orange;
    border-spacing: 0px;
}

tab {
	color: red;
}
