html, body {
    background-color: GhostWhite;
	height: 100%;
 	margin: 0px;
  	padding: 0px;
	font-family: Calibri;
	font-size: 100%;
}

#banniere {
	height: 100px;
	background-color: lightgray;
	display: flex;
	flex-flow: row nowrap;
	padding-right: 50px;
	padding-left: 50px;
}

#Poly {
	line-height: 100px; 
	color: #FF9900; 
	font-size:300%; 
}

#Chat {
	line-height: 100px; 
	color: #0099FF; 
	font-size:300%; 
}

.icone {
	text-shadow: 1px 1px 1px #000000;
	margin-top: 10px;
	font-size:250% !important; 
}

#spacerTitre {
	display: flex;
	flex-grow: 1;
}

#UserNameTitre {
	font-size: 50%;
	line-height: 0px;
	color:#009933;
	text-shadow: none;
}

a:visited {
	color: black;
}

a:hover {
	color:#DCDCDC;
}
