html, body {
    background-color: GhostWhite;
	height: 100%;
 	margin: 0px;
  	padding: 0px;
}
#header{
	background-color: rgb(6,109,194);
	margin: 0px;
	padding-left: 8%;
	padding-right: 6%;
}

h2{
	margin:0px;
	width: 25%;
	border-bottom: 1px solid black;
}

a{
	text-decoration: none;
	color:white;
}

a:hover{
	background-color: rgb(4,80,144);
}

#header > ul{
	line-height: 50px;
	margin:0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	
}
#header > ul > li{
	float:left;
	padding-left: 0px;
} 
#header > ul > li > a{
	display: block;
	
}
#Velo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 180%;
	width: 220px;
	text-align: center;
	margin: 0px;

}
#Accueil{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80px;
	text-align: center;
}

#Globe{
	float:right!important;
	padding-top: 1%;
	cursor: pointer;
}

#Selection{
	color: rgb(6,109,194);
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	display:block;
	font-family: Calibri;
}

#Localisation{
	color: black;
}

.button-Select{
	display: inline;
	cursor: pointer;
	padding: 5px;
	border-radius: 4px 4px 0px 0px;
}

#recherche {
	padding-top: 1%;
	width: 50%;
	float:left;
}

#etatStation{
	width: 50%;
	float:right;
}

#affichageEtatStation{
	border-bottom: 10px solid rgb(6,109,194);
	width: 100%;
}

.select{
	background-color:#4CAF50;
	border-color:#4CAF50;
	color: GhostWhite;
}

.none-select{
	border: solid GhostWhite 1px;
	color: #066DC2;
	background-color: GhostWhite;
}

#inputElem{
	display: block;
	width: 35%;
}

p{
	font: Calibri;
	font-size: 90%;
}

#map {
  height: 60%;
  width: 100%;
}

#boutons{
	border-bottom: 1px solid black;
	height: 27px;
}

#tableau {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid gray;
}

.valeur {
	border-bottom: 1px solid #d7d7d7;
	width: calc(25% - 22px);
	text-align: right;
	padding: 10px;
	border-right: 1px solid gray;
	text-align: center;
}

.textEtat {
	border-bottom: 1px solid #d7d7d7;
	width: calc(25% - 22px);
	text-align: right;
	padding: 10px;
	border: 1px solid gray;
	text-align: left;
}
