body {
    background-color: GhostWhite;
    margin:0px;
}
.text-center{
	text-align : center;
}
#header{
	background-color: rgb(6,109,194);
}
h1 {
	font: Calibri;
	color: Green;
	font-size: 200%;
	font: calibri;
}

p{
	font: Calibri;
	font-size: 90%;
}

hr{
	color:Green;
}

#map {
  height: 60%;
  margin: 10%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}